---
layout: default
title: Google Sheet To GitHub Website
---

<div class="cf frame">
  <a name="tableofcontents"></a>
  <article class="lesson" itemscope itemtype="http://schema.org/Bloglessoning" role="article">
    <div class="article-item">
      <header class="lesson-header">
        <h2 class="lesson-title" itemprop="name">Table of Contents</h2>
      </header>
      <ul>
      {% for lesson in site.data.lesson %}
        <li><a href="#{{ lesson.title }}">{{ lesson.title }}</a></li>
      {% endfor %}
      </ul>
    <div>
  </article>
  <a name="toplesson"></a>
  {% for lesson in site.data.lesson %}
    <article class="lesson" itemscope itemtype="http://schema.org/Bloglessoning" role="article">
      <div class="article-item">
        <header class="lesson-header">
          <a name="{{ lesson.title }}" title="Use #{{ lesson.title }} with page link to land here."></a>
          <h2 class="lesson-title" itemprop="name">{{ lesson.title }}</h2>
        </header>
        <section class="lesson-excerpt" itemprop="description">
        {% if lesson.image-1 != '' %}<p align='center'><img src="{{ lesson.image-1 }}" width="80%" style="padding: 15px;" /></p>{% endif %}
        <p>{{ lesson.description }}</p>
        {% if lesson.image-2 != '' %}<p align='center'><img src="{{ lesson.image-2 }}" width="80%" style="padding: 15px;" /></p>{% endif %}
        </section>
        <p><a href="{{ lesson.issue }}" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/github/github-issue-opened.png" align="right" width="50" title="Github Issue For This Step In The Lesson" /></a></p>
        {% if lesson.link-1-url != '' or lesson.link-2-url != '' %}
        <div class="lesson-meta">
          <p><strong>Links</strong></p>
          <ul>
            {% if lesson.link-1-url != '' %}<li><a href="{{ lesson.link-1-url }}" target="_blank">{{ lesson.link-1-label }}</a></li>{% endif %}
            {% if lesson.link-2-url != '' %}<li><a href="{{ lesson.link-2-url }}" target="_blank">{{ lesson.link-2-label }}</a></li>{% endif %}
          </ul>
        </div>
        {% endif %}
      <div>
    </article>
  {% endfor %}
</div>
